Python/venv
__pycache__/

# Ignore Rust build artifacts
**/target/
**/debug/
**/release/

# Ignore Cargo lock file (only for libraries, keep for binaries)
**/Cargo.lock

# Ignore Rust logs and IDE files
**/*.log
**/*.rs.bk

# VS Code settings (optional)
.vscode/

# Ignore Rustup & Cargo related files
.cargo/
.rustup/

# Ignore play_ground changes
Rust/play_ground/

# ignore js node modules
**/node_modules/

# Ignore IntelliJ IDE configs
.idea/
*.iml

# Ignore Gradle build outputs and dirs
build/
out/
.gradle/
**/dist

# Optional: ignore OS/Editor-specific files
.DS_Store
*.swp
*.swo
Thumbs.db

# Optional: ignore logs and temporary files
# *.log		// already included above
*.tmp

# ignore java build code
**/bin/
